# Dependencies
node_modules/
**/node_modules/
.pnp
.pnp.*

# Build outputs
dist/
**/dist/
build/
**/build/

# Uploads & temporary media
public/uploads/img_*
web/public/uploads/img_*

# Environment files
.env
.env*.local
.env.local
.env.development
.env.test
.env.production
*.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor & OS
.DS_Store
Thumbs.db
*.pem
.idea/
.vscode/

# TypeScript
*.tsbuildinfo
